.picture {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 414px;
    height: 546px;
  }
h1 {
  font-weight: normal;
  font-size: large;
  color: #000080;
  font-family: "Times New Roman", Times, serif;
}

#title {
font-size: 7rem;
font-weight: normal;
color: #1F6357;
font-family: "Gabriela";
}


p {
    font-weight: normal;
    font-size: 5rem;
    color: #000080;
    font-family: "Times New Roman", Times, serif;
   }

img {
  border: 4px solid #1F6357;
}
@media screen and (min-width: 768px)  and (max-width: 1023px){
  .picture {
    width: 300px;
  }
  h1 {
width: 80%;
 }
  p {
    width: 70%;
  }
}
@media screen and (max-width: 1179px)  and (min-width: 1024px){
    .picture {
        width: 400px;
    }
}
@media screen and (min-width: 1200px){
    .picture {
        width: 500px;
    }
}
