@media screen and (min-width: 768px)  and (max-width: 1023px){
  .picture {
    width: 300px;
  }
  h1 {
width: 80%;
 }
  p {
    width: 70%;
  }
}
@media screen and (max-width: 1179px)  and (min-width: 1024px){
    .picture {
        width: 400px;
    }
}
@media screen and (min-width: 1200px){
    .picture {
        width: 500px;
    }
}
